@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Ubuntu:wght@500&display=swap");

$inter: "Inter", sans-serif;
$ubuntu: "Ubuntu", sans-serif;

$h1: 2rem;
$h2: 1.7rem;
$h3: 1.6rem;
$h4: 1.5rem;
$h6: 1.2rem;
