.nav {
  display: flex;
  margin: 2vh 0;

  .me--container {
    flex: 1 1;
    display: flex;

    .me--img {
      width: 19vw;
      height: 9vh;
      border-radius: 100%;
      border: 0.3rem solid $white;
    }

    .me,
    .me--text {
      display: flex;
      text-decoration: none;
    }

    .me--text {
      align-items: center;
      margin: 0 1rem;
      font-size: $h1;
    }
  }

  .nav--links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav--item {
      margin: 0 1rem;

      a {
        h4 {
          color: $white;
          font-size: $h4;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav {
    justify-content: center;
    display: flex;

    .me--container {
      display: flex;
      justify-content: center;

      .me--img {
        object-fit: cover;
      }
    }

    .nav--links {
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: 2;
      background-color: $blue;
      border: 0.3rem solid $white;
      border-radius: 1rem 1rem 0 0;
      bottom: 0;
      border-bottom: none;

      .nav--item {
        margin: 1rem 0.9vw;
        text-align: center;
        border-bottom: 0.1rem solid $white;
        padding: 1rem 0.8vw;
        width: 25%;

        li {
          a {
            h4 {
              font-size: $h4;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .nav {
    justify-content: center;
    display: flex;

    .me--container {
      display: flex;
      justify-content: center;

      .me--img {
        object-fit: cover;
      }
    }

    .nav--links {
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: 2;
      background-color: $blue;
      border: 0.3rem solid $white;
      border-radius: 1rem 1rem 0 0;
      bottom: 0;

      .nav--item {
        margin: 3vh 0.6vh;
        text-align: center;
        border-bottom: 0.1rem solid $white;
        padding: 2.8vh 0.5vh;
        width: 25%;

        a {
          h4 {
            font-size: $h4;
          }
        }
      }
    }
  }
}
