@import "./fonts";
@import "./nav";
@import "./home";
@import "./aboutme";
@import "./technologies";
@import "./button";
@import "./projects";
@import "./contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #14274e;
  color: #f1f6f9;
  font-family: $ubuntu;
}

h1,
h2,
h3 {
  font-family: $inter;
  color: #f1f6f9;
}

h4,
h5,
h6,
li {
  font-family: $ubuntu;
  color: #f1f6f9;
}

li {
  list-style: none;
}

li a {
  color: #394867;
}

#root {
  width: 90%;
  margin: 0 auto;
  padding: 2vh;
}
