@import "../../scss/colors";
@import "../../scss/fonts";

h1 {
  font-size: $h1;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 0;
  grid-gap: 1rem;

  .singleProject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.3rem solid $white;
    border-radius: 1.5rem;
    background-color: $lightBlue;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.9);

    .singleProject__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;

      h2 {
        color: $grey;
        font-size: $h2;
      }

      h3 {
        font-size: $h3;
      }
    }

    .singleProject__media {
      text-align: center;

      .singleProject__img {
        img {
          width: 10vw;
        }
      }

      .singleProject__link {
        color: $grey;
        text-decoration: none;
      }

      .singleProject__link:hover {
        color: $white;
      }
    }

    a {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-decoration: none;
    }
  }
}

.contact__links {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 4rem 0;

  ul {
    li {
      h3 {
        font-size: $h3;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;

    .singleProject {
      padding: 1rem 0;

      .singleProject__media {
        .singleProject__img {
          img {
            width: 50vw;
          }
        }
      }
    }
  }

  .contact__links {
    margin-bottom: 15vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .singleProject {
      padding: 1rem 0;

      .singleProject__media {
        .singleProject__img {
          img {
            width: 30vw;
          }
        }
      }
    }
  }

  .contact__links {
    margin-bottom: 15vh;
  }
}
