@import "../../scss/colors";
@import "../../scss/fonts";

h1 {
  font-size: $h1;
}

.contact {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0;

  .singleContact {
    display: flex;
    justify-content: space-between;
    padding: 2.2rem;
    align-items: center;
    background: $lightBlue;
    border: 0.3rem solid $white;
    border-radius: 1.5rem;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.9);

    .singleContact__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      h2 {
        font-size: $h2;
        color: $grey;
      }
      h3 {
        font-size: $h3;
      }
    }

    .singleContact__img {
      text-align: center;

      i {
        font-size: 3rem;
      }
    }

    .singleContact__link {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-decoration: none;
    }
  }
}

.singleContact__email {
  padding: 2.2rem;
  align-items: center;
  background: $lightBlue;
  border: 0.3rem solid $white;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.9);
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-columns: 1fr;

  form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    input,
    textarea {
      background: $lightBlue;
      color: $white;
      border: 0.3rem solid $white;
      padding: 1rem;
      border-radius: 1.5rem;
    }

    input {
      width: 30rem;
      margin: 1rem 0;
    }
  }
}

.start__links {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 4rem 0;

  ul {
    li {
      h3 {
        font-size: $h3;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .contact {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }
  .singleContact__email {
    form {
      input,
      textarea {
        width: 65vw;
        margin: 1rem 0;
      }
    }
  }
}
