@import "../../scss/colors";
@import "../../scss/fonts";

h1 {
  font-size: $h1;
}

.aboutMe--container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0;

  .section {
    padding: 2.2rem;
    background: $lightBlue;
    border: 0.3rem solid $white;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.9);

    h3 {
      color: $grey;
      margin: 0.9vh 0;
      font-size: $h3;
    }

    h4 {
      font-size: $h4;
    }
  }
}

.technologies__links {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 4rem 0;

  ul {
    li {
      h3 {
        font-size: $h3;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .aboutMe--container {
    margin-bottom: 2vh;
    grid-template-columns: 1fr;
  }
  .technologies__links {
    margin-bottom: 15vh;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .section {
    width: auto;
    margin: 1vh 0;
    height: auto;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .aboutMe--container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3vh;
  }
  .technologies__links {
    margin-bottom: 15vh;
  }
}
